:root {
	--dark-primary: #212430;
	--dark-secondary: #2a2d3e;
	--dark-tertiary: #383a4f;

	--light-primary: #fff;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI", sans-serif;
	min-height: 100vh;
}

a:link {
	color: var(--light-primary);
	text-decoration: none;
}

a:visited {
	color: var(--light-primary);
}

a:hover {
	color: var(--light-primary);
}

a:active {
	color: var(--light-primary);
}
